name: Sanity check

on:
  - push
  - pull_request

jobs:
  prcheck:
    name: Sanity check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run vet
        run: |
          go vet .
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
      - name: Run tests
        run: make test
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
